* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 75vw;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.container {
  width: 37.5vw;
  display: flex;
  flex-wrap: wrap;
}

.container > .square {
    box-sizing: border-box;
    border: 1px solid black;
  }